.btn {
  padding: 2rem 4.8rem;
  text-align: center;
  margin: 0 2rem;
  border-radius: 1.4rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  max-width: 28rem;
  min-width: 26rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.default {
  color: var(--gray-100);
  background-color: var(--primary);
}

.light {
  background-color: var(--gray-100);
  color: var(--gray-900);
  border: 1px solid;
}

.small {
  padding: 1.6rem 3.2rem;
  min-width: 20rem;
}
