.content__menu {
  text-align: right;
}

.menuOpen {
  margin-top: 2rem;
}

.menuClose {
  display: none;
  width: 0;
}

.icon {
  text-align: right;
}

.icon .header__menu__icon {
  width: 4.2rem;
  height: 4.2rem;
}

.listItems {
  list-style-type: none;
}

.listLink {
  text-decoration: none;
  display: block;
  color: inherit;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.8rem;
}

.listLink:hover {
  filter: brightness(80%);
}

@media (min-width: 1024px) {
  .header__menu__icon {
    display: none;
  }

  .menu {
    display: flex;
    width: auto;
  }

  .listItems {
    display: flex;
  }
}
