.menu {
  /* background-color: red; */

  ul {
    list-style-type: none;
  }

  li {
  }

  a {
    text-decoration: none;
    display: block;
    color: inherit;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.8rem;
  }
}
