.hero {
  padding: 4.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary);
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 2.4rem;
    width: fit-content;
  }

  p {
    display: block;
    font-size: 2.4rem;
    font-weight: 200;
    color: var(--text-default);
  }
}
