.hero {
  padding: 4.8rem;
  text-align: center;

  h1 {
    font-size: 1.4rem;
    padding: 0.4rem;
    background-color: blue;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 2.4rem;
  }

  p {
    display: block;
    font-size: 2.4rem;
    font-weight: 200;
    color: var(--text-default);
  }
}
