.container-fluid {
  max-width: auto;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.content {
  margin: 3.2rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 80rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 98rem;
  }
}
