* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  background-color: var(--gray-900);
  color: var(--text-default);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  filter: brightness(80%);
}

h2 {
  margin-bottom: 1.2rem;
}
