.about {
  margin-top: var(--sectionVerticalMargin);
  display: flex;
  flex-direction: column;
  gap: var(--elementGap);
  align-items: center;
  justify-content: center;
}

.profile {
  position: relative;
  min-height: 30rem;
  min-width: 30rem;
  max-height: 45rem;
  max-width: 45rem;
  border-radius: 5rem 0 3rem 0;
  margin-top: 5rem;
}

.about__title {
  margin-bottom: var(--elementGap);
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: var(--elementGap);
}

.bgGradient {
  background: var(--primary);
  background: linear-gradient(
    135deg,
    var(--primary) 0%,
    var(--text-default) 100%
  );
}

.profile__img {
  min-height: 30rem;
  max-height: 40rem;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1024px) {
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;
    gap: 3rem;
  }

  .row > .lg_1_6 {
    grid-column: 1/6;
  }

  .row > .lg_6_12 {
    grid-column: 6/-1;
  }

  .about__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
  }
}
