.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 2.4rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.header__content {
  display: flex;
  justify-content: space-between;
}
