.header {
  display: block;
  justify-content: space-between;
}

.title {
  font-size: 2.4rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .header__menu__icon {
    display: none;
  }
}
