.theme {
  display: flex;
  justify-content: end;
  gap: var(--elementGap);
  padding: 0.4rem;
  background-color: var(--gray-700);
}

.theme__icon {
  background-color: var(--gray-100);
  color: var(--gray-900);
  padding: 0.4rem;
  border-radius: 0.8rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
